.cart {
  fill: var(--mantine-color-myGreen-0);
}

.cartCounter {
  padding-top: 1.5px;
  padding-left: 1px;
  width: 20px;
  height: 20px;
  color: var(--mantine-color-myGreen-9);
  background-color: var(--mantine-color-myGrey-1);
  border-radius: 100%;
}
